:root .Start {
  --Container-BG: #fdfdff;
  --border-Radius: 0.5rem;
  --box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  --span-color: #5f6bf1;
  --grey: #636363;
  --icon-color: #5f6bf1;
}
.Start {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.container {
  width: 100%;
  max-width: 500px;
  background: var(--Container-BG);
  padding: 30px 30px;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-Radius);
}
.container .content .header .header_content h1 {
  font-size: 2.5rem;
  font-weight: 600;
}
.container .content .header .header_content h1 span {
  color: var(--span-color);
  text-shadow: 0 0.15rem 0.15rem rgba(0, 0, 0, 0.1);
}
.container .content .header .header_content p {
  color: var(--grey);
  font-weight: 500;
}
.container .content .integrationDIv .integration {
  padding: 10px;
}
.container .content .integrationDIv .integration .App_Integrate {
  margin: 20px auto;
}
.container .content .integrationDIv .integration .App_Integrate .flexEnd {
  display: flex;
  margin-bottom: 5px;
}
.container .content .integrationDIv .integration .App_Integrate .ctext {
  font-size: 1.2rem;
}
.container .content .integrationDIv .integration .App_Integrate i {
  font-size: 1.5rem;
  margin-right: 3px;
  color: var(--icon-color);
}
.container
  .content
  .integrationDIv
  .integration
  .App_Integrate
  .integtate_button
  button {
  background: var(--span-color);
  color: #fff;
  border: none;
  padding: 0.9rem 1rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.themeBtn {
  position: fixed;
  bottom: 10px;
  left: 10px;
  /* z-index: 999; */
}
.themeBtn .themeBtn_button {
  background: var(--span-color);
  color: #fff;
  border: none;
  padding: 15px 20px;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  width: 100%;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}
